.App-header {
    height: 10rem;
    width: 100%;
    border-bottom: 0.3rem solid rgba(241, 34, 110, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    @media only screen and (max-width: 800px) {
        top: 8rem;
        height: 7rem;
        border-bottom: 0.2rem solid rgba(241, 34, 110, 0.95);
    }
}

.App-header img {
    height: 9rem;
    aspect-ratio: 1;
    @media only screen and (max-width: 800px) {
        height: 7rem;
    }
}

.App-header h1 {
    display: inline;
    color: rgba(241, 34, 110, 0.95);
    position: absolute;
    top: 3rem;
    left: 12rem;
    font-weight: bolder;
    font-size: 2.5rem;
    @media only screen and (max-width: 800px) {
        font-size: 1.5rem;
        left: 8rem;
    }
}
